img {
  width: 100%;
}

.navbar {
  background-color: #6e6d6d;
}
.fa.fa-edit {
  color: #6e6d6d;
}
.card text-center mb-2{
  width:400px
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

#purchasedProductsTitle {
  text-align: center;
}

#purchasedProducts {
  text-align: center;
  color: black;
}

#purchasedProducts td, #purchasedProducts th {
  border: 1px solid #ddd;
  padding: 2px;
  color: black;
}

#th {
  color: black;
}
#purchasedProducts tr:nth-child(even){background-color: #f2f2f2;}

#purchasedProducts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: 6e6d6d;
  color: black;
}

#purchasedProductsPlus{
  background-color: #4CAF50;

}

#purchasedProductsMinus{
  background-color: red;

}
